main-section .main-content {
    padding-left: 50px;
}

.sidebar-main {
    width: 200px;
    height: 100%;
    /*background-color: #4aa3df;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;*/
}

.sidebar-main li a {
    border-bottom: 1px solid #293241;
    height: 60px;
    line-height: 60px;
}

.layout-column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.layout-row {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.sidebar-main ul {
	margin: 0;
}

/*.sidebar-main li.active a {
	color: #fff;
	border-left: none;
	border-radius: 0;
	background-color: #2196f3;
	//border-bottom: 3px solid #2196f3;
}*/

/*.sidebar-main li.active a:hover {
	color: #fff;
	background-color: #2196f3;
        opacity: 1.0;
}

.sidebar-main li a {
	color: #fff;
	height: 50px;
	width: 200px;
	padding-left: 0px;
}
*/

/*.sidebar-main .logo {
	width: 150px;
	height: 50px;
	border-bottom: none;
	margin-right: 0px;
	box-shadow: none;
}*/

.sidebar-main .logo img {
	width: 150px;
	height: 50px;
	margin-top: 0;
	opacity: 0.5;
}

.form-group {
	margin-bottom: 20px;
}

body .main-container {
}

.main-content2 {
	padding: 0px;
	background-color: #ecf2f6;
}

.side-nav {
	border-right: 1px solid #dadcde;
	width: 150px;
}

.side-nav ul li a {
	width: 150px;
	border-radius: 0px;
	margin: 0px;
	height: 50px;
}

.side-nav li a:focus {
	border-bottom: 3px solid #2196f3;
}

.md-create {
	background-color: #29a7be!important;
	border-radius: 0px;
	cursor: pointer;
}

/*.sidebar-main li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2196f3 !important;
    opacity:0.5;
}*/

.md-button {
	border-radius:0px
}

span.label.online {
    color: #fff;
    background-color: #00FF66;
}

span.label.offline {
    color: #fff;
    background-color: #00FFFF;
}


span.label.deploying {
    color: #fff;
    background-color: #3300FF;
}

span.label.deleting {
    color: #000;
    background-color: #FF0099;
}

.my-radio {
	    display: -webkit-box;
	        display: -webkit-flex;
		    display: flex-box;
		        flex-direction: row;
		}

/*.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}*/

.provider {
   position: relative;
}

.overlay {
   position: absolute;
   left: 90px;
   top: -8px;
}

.overlay .fa {
   color: green;
   font-size: 18px;
}

.mark {
    position: absolute;
    width: 100px;
    height: 100%;
    opacity: 0.4;
    background-color: #DDDDDD;
    transition: .1s ease;
}

img:focus{
    outline: 0;
    outline: none;
}


.selected_region{
	position: relative;
}

.selected_region .overlay {
    position: absolute;
    left: 135px;
    top: -8px;
}

.region {
    width:150px;
    height:40px;
    background:#eee;
    margin-right:5px;
    margin-bottom: 5px; 
}

.region:focus{
    outline: 0;
    outline: none;
}

.selected:focus{
    outline: 0;
    outline: none;
}

.mark:focus {
    outline: 0;
    outline: none;
}

.size {
    font-weight: 500;
    height: 25px;
    line-height: 25px;
    display: block;
    padding-left: 5px;
}
.location {
    height: 40px;
    line-height: 40px;
    font-weight: 500;
}

.panel {
    background-color: #fff;
    border: 0px; 
    border-radius: 0px;
    -webkit-box-shadow:none; 
    box-shadow: none; 
}

md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar {
    /*background-color: rgb(63,81,181);*/
    background-color: rgb(0,204,0);
}

md-process-linear {
    
}

.md-select-value .md-select-icon {
    display: block;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: end;
    width: 24px;
    margin: 0 4px;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
}

.md-select-value .md-select-icon:after {
    display: block;
    content: '';
    position: relative;
    top: 2px;
    speak: none;
    -webkit-transform: scaleY(0.6) scaleX(1);
    transform: scaleY(0.6) scaleX(1);
}

.md-select-value .md-text {
    display: inline;
    font-size: 15px;
    font-weight: 500;
}
