<!DOCTYPE html>
<html data-ng-app="glance">
<head>
    <meta charset="utf-8">
    <title>控制台</title>
    <base href="/">
    <!--build:css css/style.css-->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/loaders.css/loaders.css">
    <link rel="stylesheet" type="text/css" href="bower_components/isteven-angular-multiselect/isteven-multi-select.css">
    <link rel="stylesheet" type="text/css"
          href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
    <link rel="stylesheet" type="text/css"
          href="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ng-table/dist/ng-table.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material-data-table/dist/md-data-table.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" type="text/css" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/theme/midnight.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="css/shurenyun.css">-->
    <link rel="stylesheet" type="text/css" href="css/material.css">
    <link rel="stylesheet" type="text/css" href="css/glance.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/checkbox.css">
    <link rel="stylesheet" type="text/css" href="glance/login/login.css">
    <!--<link rel="stylesheet" type="text/css" href="glance/login/style-0d920adf.css">-->
    <!--endbuild-->
    <link rel="shortcut icon" type="image/x-icon" href="pics/favicon.ico"/>

    <!--<link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">-->
    <link rel="stylesheet" href="./bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css">
</head>

<body>
<div layout="row" class="main" ng-cloak>
    <div class="sidebar-main" data-ng-if="IsAuthed" layout="column">
        <div class="logo">
        </div>
        <div class="menu-sidebar" flex layout-align="space-between stretch" layout="column">
		<!--<ul layout="row" class="layout-column">-->
	    <ul>
                <li data-ui-sref-active="active" title="首页">
                    <md-button data-ui-sref="dashboard" data-ui-sref-opts="{inherit: false}">
                        <i class="fa fa-tachometer"></i>
                       概览 
                    </md-button>
		</li>
                <li title="节点管理" data-ui-sref-active="active">
                    <md-button data-ui-sref="node" data-ui-sref-opts="{inherit: false}">
		        <i class="fa fa-cubes" aria-hidden="true"></i>节点管理
                    </md-button>
                </li>
		<li title="服务管理" data-ui-sref-active="active">
                    <md-button data-ui-sref="service" data-ui-sref-opts="{inherit: false}">
		        <i class="fa fa-cubes" aria-hidden="true"></i>服务管理
                    </md-button>
                </li>
                <li title="套餐管理" data-ui-sref-active="active">
                    <md-button data-ui-sref="plan" data-ui-sref-opts="{inherit: false}">
			<i class="fa fa-tasks" aria-hidden="true"></i>套餐管理
                    </md-button>
                </li>
                <li title="账户管理" data-ui-sref-active="active">
                    <md-button data-ui-sref="account" data-ui-sref-opts="{inherit: false}">
			<i class="fa fa-users" aria-hidden="true"></i>账号管理
                    </md-button>
                </li>
		<li title="统计分析" data-ui-sref-active="active">
                    <md-button data-ui-sref="community" data-ui-sref-opts="{inherit: false}">
                          <i class="fa fa-sitemap" aria-hidden="true"></i>统计分析
                    </md-button>
                </li>
            </ul>
	    <!--<div class="logout"> 
		<span class="user">admin</span>
		<md-button class="logout-button" aria-label="logout" data-ui-sref="login">
	            <i class="fa fa-power-off" aria-hidden="true"></i>
		</md-button>
	    </div>-->
        </div>
    </div>
    <div layout="column" flex>
        <nav class="nav-main">
	    <md-toolbar data-ng-if="IsAuthed">
		<div class="md-toolbar-tools">
		    <md-menu>
                        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                            <i class="fa fa-user"></i>
                            <md-tooltip md-direction="bottom">{/userName/}</md-tooltip>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button data-ng-click="rootCtrl.logout()">
                                    <md-icon md-svg-src="pics/ic_power_settings.svg" aria-label="ic_power_settings "></md-icon>
                                    退出
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
		</div>
	    </md-toolbar>
	</nav>
    <div class="main-container" flex data-ui-view></div>
    </div>
</div>

<!-- GrowingIO -->
<script type='text/javascript'>
    var _vds = _vds || [];
</script>

<!-- rev-hash -->
<script src="js/confdev.js" type="text/javascript"></script>
<!-- end -->
<!--build:js js/script.js-->
<script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
<script src="bower_components/loaders.css/loaders.css.js" type="text/javascript"></script>
<script src="bower_patchs/js-yaml.js" type="text/javascript"></script>
<script src="bower_components/codemirror/lib/codemirror.js" type="text/javascript"></script>
<script src="bower_components/codemirror/mode/yaml/yaml.js" type="text/javascript"></script>
<!--endbuild-->

<!--build:js js/angular.js-->
<script src="bower_components/angular/angular.js" type="text/javascript"></script>
<script src="bower_components/angular-cookies/angular-cookies.js" type="text/javascript"></script>
<script src="bower_components/angular-messages/angular-messages.js" type="text/javascript"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js" type="text/javascript"></script>
<script src="bower_components/angular-ui-codemirror/ui-codemirror.js" type="text/javascript"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
<script src="bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
<script src="bower_components/angular-material/angular-material.js" type="text/javascript"></script>
<script src="bower_components/ngSocket/dist/ngSocket.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="bower_components/zeroclipboard/dist/ZeroClipboard.js" type="text/javascript"></script>
<script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script src="bower_components/isteven-angular-multiselect/isteven-multi-select.js" type="text/javascript"></script>
<script src="bower_components/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"
        type="text/javascript"></script>
<script src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js" type="text/javascript"></script>
<script src="bower_components/echarts/src/echarts-dataman.js" type="text/javascript"></script>
<script src="bower_components/ng-table/dist/ng-table.js" type="text/javascript"></script>
<script src="bower_components/showdown/src/showdown.js" type="text/javascript"></script>
<script src="bower_components/angular-markdown-directive/markdown.js" type="text/javascript"></script>
<script src="bower_components/angular-base64/angular-base64.min.js" type="text/javascript"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.js" type="text/javascript"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js" type="text/javascript"></script>
<script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>

<script src="bower_patchs/menuServiceProvider.js" type="text/javascript"></script>
<!--endbuild-->

<!--build:js(build) js/main.js-->

<script src="glance/utils/utils.module.js" type="text/javascript"></script>
<script src="glance/constants.run.js" type="text/javascript"></script>
<script src="glance/utils/utils.config.js" type="text/javascript"></script>
<script src="glance/utils/services/utils.service.js" type="text/javascript"></script>
<script src="glance/utils/services/ghttp.service.js" type="text/javascript"></script>
<script src="glance/utils/services/table.service.js" type="text/javascript"></script>
<script src="glance/utils/services/mdTable.service.js" type="text/javascript"></script>
<script src="glance/utils/services/mdSideNav.service.js" type="text/javascript"></script>
<script src="glance/utils/services/timing.service.js" type="text/javascript"></script>
<script src="glance/utils/services/line-chart.service.js" type="text/javascript"></script>
<script src="glance/utils/services/bar-chart.service.js" type="text/javascript"></script>
<script src="glance/utils/modals/confirm.service.js" type="text/javascript"></script>
<script src="glance/utils/modals/alert.service.js" type="text/javascript"></script>
<script src="glance/utils/modals/form.service.js" type="text/javascript"></script>


<script src="glance/login/login.module.js" type="text/javascript"></script>
<script src="glance/login/login.config.js" type="text/javascript"></script>
<script src="glance/login/login.route.js" type="text/javascript"></script>
<script src="glance/login/login.ctrl.js" type="text/javascript"></script>

<script src="glance/nodes/node.module.js" type="text/javascript"></script>
<script src="glance/nodes/node.config.js" type="text/javascript"></script>
<script src="glance/nodes/node.route.js" type="text/javascript"></script>
<script src="glance/nodes/services/app-backend.service.js" type="text/javascript"></script>

<script src="glance/nodes/create/create.ctrl.js" type="text/javascript"></script>
<!--<script src="glance/nodes/update/update.ctrl.js" type="text/javascript"></script>-->
<script src="glance/nodes/create/directive.js" type="text/javascript"></script>
<script src="glance/nodes/list/list.ctrl.js" type="text/javascript"></script>
<script src="glance/nodes/list/createNodeDialog.ctrl.js" type="text/javascript"></script>
<script src="glance/nodes/detail/detail.ctrl.js" type="text/javascript"></script>
<script src="glance/nodes/detail/services/list.ctrl.js" type="text/javascript"></script>


<script src="glance/services/service.module.js" type="text/javascript"></script>
<script src="glance/services/service.config.js" type="text/javascript"></script>
<script src="glance/services/service.route.js" type="text/javascript"></script>
<script src="glance/services/list/list.ctrl.js" type="text/javascript"></script>
<script src="glance/services/create/create.ctrl.js" type="text/javascript"></script>

<script src="glance/accounts/account.module.js" type="text/javascript"></script>
<script src="glance/accounts/account.config.js" type="text/javascript"></script>
<script src="glance/accounts/account.route.js" type="text/javascript"></script>
<script src="glance/accounts/services/app-backend.service.js" type="text/javascript"></script>

<!--<script src="glance/nodes/create/create.ctrl.js" type="text/javascript"></script>
<script src="glance/nodes/update/update.ctrl.js" type="text/javascript"></script>
<script src="glance/nodes/create/directive.js" type="text/javascript"></script>-->
<script src="glance/accounts/list/list.ctrl.js" type="text/javascript"></script>
<script src="glance/accounts/detail/detail.ctrl.js" type="text/javascript"></script>

<script src="glance/plans/plan.module.js" type="text/javascript"></script>
<script src="glance/plans/plan.config.js" type="text/javascript"></script>
<script src="glance/plans/plan.route.js" type="text/javascript"></script>
<script src="glance/plans/services/app-backend.service.js" type="text/javascript"></script>

<!--<script src="glance/nodes/create/create.ctrl.js" type="text/javascript"></script>
<script src="glance/nodes/update/update.ctrl.js" type="text/javascript"></script>
<script src="glance/nodes/create/directive.js" type="text/javascript"></script>-->
<script src="glance/plans/list/list.ctrl.js" type="text/javascript"></script>
<script src="glance/plans/create/create.ctrl.js" type="text/javascript"></script>
<script src="glance/plans/detail/detail.ctrl.js" type="text/javascript"></script>

<script src="glance/dashboard/dashboard.module.js" type="text/javascript"></script>
<script src="glance/dashboard/dashboard.config.js" type="text/javascript"></script>
<script src="glance/dashboard/dashboard.route.js" type="text/javascript"></script>
<script src="glance/dashboard/services/dashboard-backend.service.js" type="text/javascript"></script>
<script src="glance/dashboard/dashboard.ctrl.js" type="text/javascript"></script>


<script src="glance/orders/order.module.js" type="text/javascript"></script>
<script src="glance/orders/order.config.js" type="text/javascript"></script>
<script src="glance/orders/order.route.js" type="text/javascript"></script>
<script src="glance/orders/list/list.ctrl.js" type="text/javascript"></script>
<script src="glance/orders/list/order.ctrl.js" type="text/javascript"></script>
<script src="glance/orders/detail/detail.ctrl.js" type="text/javascript"></script>
<!--<script src="glance/orders/list/all.ctrl.js" type="text/javascript"></script>
<script src="glance/orders/list/unpay.ctrl.js" type="text/javascript"></script>
<script src="glance/orders/list/undistributed.ctrl.js" type="text/javascript"></script>
<script src="glance/orders/list/distributing.ctrl.js" type="text/javascript"></script>
<script src="glance/orders/list/finished.ctrl.js" type="text/javascript"></script>-->
<!---- shop ---->
<script src="glance/shops/shop.module.js" type="text/javascript"></script>
<script src="glance/shops/shop.config.js" type="text/javascript"></script>
<script src="glance/shops/shop.route.js" type="text/javascript"></script>
<script src="glance/shops/list/list.ctrl.js" type="text/javascript"></script>
<script src="glance/shops/create/create.ctrl.js" type="text/javascript"></script>
<script src="glance/shops/detail/detail.ctrl.js" type="text/javascript"></script>
<script src="glance/shops/update/update.ctrl.js" type="text/javascript"></script>
<script src="glance/shops/services/shop-backend.service.js" type="text/javascript"></script>

<!---- community ---->
<script src="glance/communities/community.module.js" type="text/javascript"></script>
<script src="glance/communities/community.config.js" type="text/javascript"></script>
<script src="glance/communities/community.route.js" type="text/javascript"></script>
<script src="glance/communities/list/list.ctrl.js" type="text/javascript"></script>
<script src="glance/communities/create/create.ctrl.js" type="text/javascript"></script>
<script src="glance/communities/update/update.ctrl.js" type="text/javascript"></script>
<script src="glance/communities/detail/detail.ctrl.js" type="text/javascript"></script>

<!--endbuild-->

<!--build:js(build) js/old-main.js-->
<script src="js/app.js" type="text/javascript"></script>
<script src="js/directives.js" type="text/javascript"></script>
<script src="js/directives/include-replace.js" type="text/javascript"></script>
<script src="js/ngservices/http-service.js" type="text/javascript"></script>
<script src="js/ngservices/logloader-service.js" type="text/javascript"></script>
<script src="js/ngservices/unitconversion-service.js" type="text/javascript"></script>
<script src="js/ngservices/ws-service.js" type="text/javascript"></script>
<script src="js/ngservices/user-service.js" type="text/javascript"></script>
<script src="js/ngservices/monitor-service.js" type="text/javascript"></script>
<script src="js/ngservices/charts-service.js" type="text/javascript"></script>
<script src="js/ngservices/clusterstatus-service.js" type="text/javascript"></script>
<script src="js/ngservices/update-cluster-service.js" type="text/javascript"></script>
<script src="js/ngservices/get-cluster-lables.js" type="text/javascript"></script>
<script src="js/ngservices/multi-select-service.js" type="text/javascript"></script>
<script src="js/ngservices/model-open.js" type="text/javascript"></script>
<script src="js/ngservices/label-service.js" type="text/javascript"></script>
<script src="js/log/logbase.js" type="text/javascript"></script>
<script src="js/modals/join-demo-group.js" type="text/javascript"></script>
<script src="js/modals/add.label.js" type="text/javascript"></script>
<script src="js/modals/add-node-label.js" type="text/javascript"></script>
<!--endbuild-->

<!--build:js(build) js/directive.js-->
<script src="glance/directives/dm-copy.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-permit-click.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-dynamic-fields/dynamic-field-vali.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-dynamic-field.directive.js" type="text/javascript"></script>
<script src="glance/directives/positive-integer.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-tab-sref.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-trigger-prev-click.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-check-include.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-demo-disable.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-no-equal.directive.js" type="text/javascript"></script>
<script src="glance/directives/dm-password.js" type="text/javascript"></script>
<script src="glance/glance.run.js" type="text/javascript"></script>
<!--endbuild-->

<!--build:js js/template.js-->
<!-- inject:template.js -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!--endbuild-->

<!-- baidu -->
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
<script src="./bower_components/angular-material/angular-material.min.js"></script>
<script src="./bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>
<script type="text/javascript" src="bower_components/angular-fixed-table-header/src/fixed-table-header.min.js"></script>
<script type ="text/javascript" src="bower_components/chart.js/dist/Chart.min.js"></script>
<script type ="text/javascript" src="bower_components/chart.js/dist/Chart.bundle.min.js"></script>
<script type ="text/javascript" src="bower_components/angular-localstorage/angular-localstorage.js"></script>
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?cd74c0fcc0c51aecc3bb276315e35e6a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
</script>

</body>
</html>
