<div class="main-content app-layout"> 
    <section class="main-section">
	<div class="main-content">
		<section layout="row">
		    <md-button class="md-add" data-ui-sref="item.create"><span>创建</span></md-button>
		</section>
	    <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <form flex name="searchForm">
                        <input type="text" 
			       ng-model="ctrl.query.filter" 
			       placeholder="输入节点名称搜索"
			       ng-change="ctrl.search()"> 
			</input>
                    </form>
                </div>
            </md-toolbar>
	    <md-content>
		    <md-table-container> 
			<div> 
				<!--<table md-table md-row-select multiple ng-model="ctrl.selected" md-progress="promise">-->
        		<table md-table  md-progress="promise">
            		    <thead md-head md-order=""
			      md-on-reorder="" fix-head>
			        <tr md-row>
                    		    <th md-column><span>主机</span></th>
                    		    <th md-column><span>端口</span></th>
                    		    <th md-column><span>密码</span></th>
                    		    <th md-column><span>加密方式</span></th>
                    		    <th md-column><span>状态</span></th>
                    		    <th md-column><span>创建时间</span></th>
            			</tr>
            			</thead>
            			<tbody md-body>
            				<tr md-row md-select="service"
						md-select-id="name" md-auto-select data-ng-repeat="service in ctrl.services">
                				<td md-cell>
                               			    {/service.host/}
						</td>
                				<td md-cell>
						    {/service.port/}
                				</td>
                				<td md-cell>
						    {/service.password/}
                				</td>
                				<td md-cell>
						    {/service.encrypt/}
                				</td>
                				<td md-cell>
						    {/service.status/}
                				</td>
                				<td md-cell>
						    {/service.created_at | date : 'yyyy-MM-dd HH:mm:ss'/}
                				</td>
            				</tr>
            			</tbody>
        		</table>
			</div>
    		</md-table-container>
		<div class="bottom">
                    <div class="left" layout="row">
		       <span>总服务数: {/ctrl.total/}</span>
		    </div>
                    <!--<div class="right">
		        <md-button class="pagination left"
		        	   data-ng-disabled="ctrl.query.page==0"
		        	   data-ng-click="ctrl.previous()">
                                   <span>上一页</span>
                        </md-button>
		        <md-button class="pagination"
		        	   data-ng-disabled="ctrl.plans.length < ctrl.query.limit"
		        	   data-ng-click="ctrl.next()">
                                   <span>下一页</span>
                        </md-button>
		    </div>-->
		</div>
        </md-content>
	</div>
    </section>
</div>
