<div class="main-content app-layout"> 
    <section class="main-section">
	<div class="main-content">
		<section layout="row">
		    <md-button class="md-createsmall" ng-click="ctrl.showDialog($event)"><span>添加</span></md-button>
		    <!--<md-button class="md-second" data-ng-click="ctrl.enableItem()">上架</md-button>
		    <md-button class="md-second" data-ng-click="ctrl.disableItem()">下架</md-button>
		    <md-button class="md-delete right" data-ng-click="ctrl.deleteItem()">删除</md-button>-->
		</section>
	    <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <form flex name="searchForm">
                        <input type="text" 
			       ng-model="ctrl.query.filter" 
			       placeholder="输入套餐名称搜索"
			       ng-change="ctrl.search()"> 
			</input>
                    </form>
                </div>
            </md-toolbar>
	    <md-content>
		    <md-table-container> 
			<div> 
				<!--<table md-table md-row-select multiple ng-model="ctrl.selected" md-progress="promise">-->
        		<table md-table ng-model="ctrl.selected" md-progress="promise">
            			<thead md-head md-order=""
			      md-on-reorder="" fix-head>
            			<tr md-row>
                    			<th md-column><span>名称</span></th>
                    			<th md-column><span>月/元</span></th>
                    			<th md-column><span>半年/元</span></th>
                    			<th md-column><span>年/元</span></th>
                    			<th md-column><span>两年/元</span></th>
					<th md-column><span>状态</span></th>
            			</tr>
            			</thead>
            			<tbody md-body>
            				<tr md-row md-select="plan" md-select-id="name" md-auto-select data-ng-repeat="plan in ctrl.plans">
                				<td md-cell>
							<a href="#"
                               				data-ui-sref="plan.detail({plan_id: plan.id})">{/plan.name/}
							</a>
						</td>
                				<td md-cell>
							{/plan.fee_1months/}
                				</td>
                				<td md-cell>
							{/plan.fee_6months/}
                				</td>
                				<td md-cell>
							{/plan.fee_12months/}
                				</td>
                				<td md-cell>
							{/plan.fee_24months/}
                				</td>
                				<td md-cell>
							{/plan.enabled/}
                				</td>
            				</tr>
            			</tbody>
        		</table>
			</div>
    		</md-table-container>
		<div class="bottom">
                    <div class="left" layout="row">
		       <span>总套餐数: {/ctrl.total/}</span>
		    </div>
                    <div class="right">
		        <md-button class="pagination left"
		        	   data-ng-disabled="ctrl.query.page==0"
		        	   data-ng-click="ctrl.previous()">
                                   <span>上一页</span>
                        </md-button>
		        <md-button class="pagination"
		        	   data-ng-disabled="ctrl.plans.length < ctrl.query.limit"
		        	   data-ng-click="ctrl.next()">
                                   <span>下一页</span>
                        </md-button>
                    </div>
		</div>
        </md-content>
	</div>
    </section>
</div>
