<div class="main-container app-layout">
    <section class="main-section">
        <!--<header layout="row" layout-align="end start">
	</header>-->
	    <!--<div style="padding-left:50px;padding-top: 20px; padding-bottom:10px; padding-right:50px;background-color: #ecf2f6;">
	    <md-content>
	        <pre style="border:none;background:#fff;margin: 0 0 1px;">主机名: {/ctrl.node.node.sysinfo.hostname/}</pre>	
	        <pre style="border:none;background:#fff;margin: 0 0 1px;">IP: {/ctrl.node.node.remote_addr/}</pre>	
	        <pre style="border:none;background:#fff;margin: 0 0 1px;">状态: {/ctrl.node.node.status/}</pre>	
	    </md-content>
	    </div>-->

	    <div class="main-content" style="padding-top:15px;">
		<md-content style="" layout="row">
		    <div layout="column" flex="50">
	            <pre style="border:none;background:#fff;margin: 0 0 1px;">主机名: {/ctrl.node.node.sysinfo.hostname/}</pre>	
	            <pre style="border:none;background:#fff;margin: 0 0 1px;">IP: {/ctrl.node.node.remote_addr/}</pre>	
	            <pre style="border:none;background:#fff;margin: 0 0 1px;">状态: {/ctrl.node.node.status/}</pre>	
		    </div>
		    <div layout="column">
		    <pre style="border:none;background:#fff;margin: 0 0 1px;">CPU使用率: {/ctrl.node.node.sysinfo.cpu.used/}%</pre>	
		    <pre style="border:none;background:#fff;margin: 0 0 1px;">内存: {/ctrl.niceBytes(ctrl.node.node.sysinfo.memory.total)/} 已使用: {/ctrl.niceBytes(ctrl.node.node.sysinfo.memory.used)/}</pre>	
		    <pre style="border:none;background:#fff;margin: 0 0 1px;">负载: {/ctrl.node.node.sysinfo.loadavgs.one/} {/ctrl.node.node.sysinfo.loadavgs.five/} {/ctrl.node.node.sysinfo.loadavgs.fifteen/}</pre>	
		    </div>
	        </md-content>
	        <md-divider style="height:5px;border:none"></md-divider>

	    	<md-tabs md-dynamic-height md-border-bottom style="">
		<md-tab label="详细信息">
	        <!--<span>ID: {/ctrl.node.node.id/}</span>	
	        <span>status: {/ctrl.node.node.status/}</span>	
		<span>version: {/ctrl.node.node.version/}</span>-->	
		<md-content>
		<pre style="border:none;background:#fff">{/ctrl.nodeString/}</pre>
		</md-content>
		</md-tab>
		<md-tab label="资源">
		    <md-content>
		    <div class="panel" layout-padding layout-margin>
                        <div class="source-title" layout="row">
                            <p>内存</p>
		        </div>
			<md-progress-linear flex="80" 
			    md-mode="determinate" 
			    value="{/ctrl.node.node.sysinfo.memory.used/ctrl.node.node.sysinfo.memory.total*100 | number: 2/}">
			</md-progress-linear>
		        <div layout="row" flex>
		            <span flex="15">总量:{/ctrl.niceBytes(ctrl.node.node.sysinfo.memory.total)/}</span>
		            <span flex="15">使用: {/ctrl.niceBytes(ctrl.node.node.sysinfo.memory.used)/}</span>
		            <span flex="15">缓存: {/ctrl.niceBytes(ctrl.node.node.sysinfo.memory.cached)/}</span>
			    <span flex="15">使用率: {/ctrl.node.node.sysinfo.memory.used/ctrl.node.node.sysinfo.memory.total*100 | number: 2/}%</span>
		        </div>
	            </div>
		    <md-divider></md-divider>
		    <div class="panel" layout-padding layout-margin>
                        <div class="source-title" layout="row">
                            <p>CPU</p>
		        </div>
			<!--<md-divider></md-divider>-->
			<div layout="row">
			<md-progress-linear flex="80"
			    md-mode="determinate" 
       			    value="{/ctrl.node.node.sysinfo.cpu.used/}">
			</md-progress-linear>
			</div>
		        <div layout="row" flex>
		            <span flex="15">物理核数:{/ctrl.node.node.sysinfo.cpu.physical/}</span>
		            <span flex="15">虚拟核数:{/ctrl.node.node.sysinfo.cpu.processor/}</span>
			    <span flex="15">使用率: {/ctrl.node.node.sysinfo.cpu.used/}%</span>
		        </div>
	            </div>
		    <div ng-repeat="(name,disk) in ctrl.node.node.sysinfo.disks">
		        <md-divider></md-divider>
			<div class="panel" layout-padding layout-margin>
                        <div class="source-title" layout="row">
				<p>磁盘 - {/name/}</p>
		        </div>
			<div layout="row">
			<md-progress-linear flex="80"
			    md-mode="determinate" 
			    value="{/ctrl.node.node.sysinfo.memory.used/ctrl.node.node.sysinfo.memory.total*100 | number: 2/}">
			</md-progress-linear>
			</div>
		        <div layout="column" flex>
			    <div layout="row">
		                <span flex="15">设备名: {/disk.dev_name/}</span>
			    </div>
			    <div layout="row" style="margin-top:5px;">
		                <span flex="50">挂载点: {/disk.mount_at/}</span>
			    </div>
			    <div layout="row" style="margin-top:5px;">
			        <span flex="10">容量: {/ctrl.niceBytes(disk.total)/}</span>
			        <span flex="10">使用: {/ctrl.niceBytes(disk.used)/}</span>
			        <span flex="10">剩余: {/ctrl.niceBytes(disk.free)/}</span>
			        <span flex="15">Inode总量: {/disk.inode/}</span>
			        <span flex="15">Inode剩余: {/disk.ifree/}</span>
			    </div>
		        </div>
	            </div>
		    <div ng-repeat="(name,traffic) in ctrl.node.node.sysinfo.traffics">
		        <md-divider></md-divider>
			<div class="panel" layout-padding layout-margin>
                        <div class="source-title" layout="row">
				<p>网卡 - {/name/}</p>
		        </div>
			<!--<div layout="row">
			<md-progress-linear flex="80"
			    md-mode="determinate" 
			    value="{/ctrl.node.node.sysinfo.memory.used/ctrl.node.node.sysinfo.memory.total*100 | number: 2/}">
			</md-progress-linear>
			</div>-->
		        <div layout="column" flex>
			    <div layout="row">
		                <span flex="15">设备名: {/traffic.name/}</span>
			    </div>
			    <div layout="row" style="margin-top:5px;">
		                <span flex="50">mac地址: {/traffic.mac/}</span>
			    </div>
			    <div layout="row" style="margin-top:5px;">
			        <span flex="10">接收: {/ctrl.niceBytes(traffic.rx_bytes)/}</span>
			        <span flex="10">发送: {/ctrl.niceBytes(traffic.tx_bytes)/}</span>
			        <span flex="15">接收速率: {/ctrl.niceBytes(traffic.rx_rate)/}</span>
			        <span flex="15">发送速率: {/ctrl.niceBytes(traffic.tx_rate)/}</span>
			    </div>
		        </div>
	            </div>

		    </div>

		    </md-content>
		</md-tab>
		<!--<md-tab label="资源">
		   <p style="font-weight: 500; margin:5px;line-height:10px;">磁盘</p>
		   <md-divider></md-divider>
                    <div layout="row" margin-top: 20px;>
		        <div style="height:150px;width:150px;">
		            <canvas id="diskChart"></canvas>
		        </div>
		    </div>
		    <div style="height:10px; background: #ecf2f6"></div> 
		   <p style="font-weight: 500; margin:5px;line-height:10px;">内存</p>
		   <md-divider></md-divider>
                    <div layout="row" margin-top: 20px;>
		        <div style="height:150px;width:150px;">
		            <canvas id="memChart"></canvas>
		        </div>
		    </div>
		    <div style="height:10px; background: #ecf2f6"></div> 
		</md-tab>
		<md-tab label="负载" dm-tab-sref="user.groups"></md-tab>
		<md-tab label="流量统计">
		    <ul>
		        <li ng-repeat='(key, value) in ctrl.node.node.sysinfo.traffics' layout="column">
			    <span>{/key/}</span>
			    <span>接收:{/value.rx_bytes/}</span>
			    <span>发送:{/value.tx_bytes/}</span>
			    <span>接收速率:{/value.rx_rate/}</span>
			    <span>发送速率:{/value.tx_rate/}</span>
		        </li>
		    </ul>
		</md-tab>-->
		<!--<md-tab label="服务列表" ui-sref="node.services({node_id: ctrl.node_id})">-->
		<md-tab label="服务列表">
		<md-table-container>
			<div> 
        		<table md-table md-row-select multiple ng-model="ctrl.selected" md-progress="promise">
            			<thead md-head md-order=""
			      md-on-reorder="" fix-head>
            			<tr md-row>
                    			<th md-column><span>主机</span></th>
                    			<th md-column><span>端口</span></th>
                    			<th md-column><span>密码</span></th>
                    			<th md-column><span>加密方式</span></th>
                    			<th md-column><span>状态</span></th>
                    			<th md-column><span>创建时间</span></th>
            			</tr>
            			</thead>
            			<tbody md-body>
            				<tr md-row md-select="service"
						md-select-id="name" md-auto-select data-ng-repeat="service in ctrl.node.ss_services">
                				<td md-cell>
                               			    {/service.host/}
						</td>
                				<td md-cell>
						    {/service.port/}
                				</td>
                				<td md-cell>
						    {/service.password/}
                				</td>
                				<td md-cell>
						    {/service.encrypt/}
                				</td>
                				<td md-cell>
						    {/service.status/}
                				</td>
                				<td md-cell>
						    {/service.created_at | date : 'yyyy-MM-dd HH:mm:ss'/}
                				</td>
            				</tr>
            			</tbody>
        		</table>
			</div>
    		</md-table-container>
		</md-tab>
	    </md-tabs>
	     </md-content>
	    </div>
    </section>
</div>
