<div class="main-container app-layout">
    <section class="main-section">
        <!--<header layout="row" layout-align="end start">
	</header>-->
	    <div class="main-content">
            <!--<md-content class="md-padding main-tab-content" ui-view>
	        <div layout="row" layout-align="start start" class="form-group form-group-input">
		    <label flex="15">名称</label>
		    <div flex="50" layout="column">
			    <label> {/ctrl.item.name/} </label>
		    </div>
	        </div>
	        <div layout="row" layout-align="start start" class="form-group form-group-input">
		    <label flex="15">图片</label>
		    <div flex="50" layout="row">
			    <div data-ng-repeat="img in ctrl.item.images track by $index">
				    <img enlarge-pic width="103px" height="103px"
				    style="margin-right:14px" data-ng-src="{/img/}">
			    </div>
		    </div>
	        </div>
	        <div layout="row" layout-align="start start" class="form-group form-group-input">
		    <label flex="15">描述</label>
		    <div flex="50" layout="column">
			    <label> {/ctrl.item.desc/} </label>
		    </div>
	        </div>
	        <div layout="row" layout-align="start start" class="form-group form-group-input">
		    <label flex="15">价格</label>
		    <div flex="50" layout="column">
			    <label> {/ctrl.item.price/} </label>
		    </div>
	        </div>
	        <div layout="row" layout-align="start start" class="form-group form-group-input">
		    <label flex="15">规格</label>
		    <div flex="50" layout="column">
			    <label> {/ctrl.item.size/} </label>
		    </div>
	        </div>
	        <div layout="row" layout-align="start start" class="form-group form-group-input">
		    <label flex="15">销量</label>
		    <div flex="50" layout="column">
			    <label> {/ctrl.item.sales/} </label>
		    </div>
	        </div>
	        <div layout="row" layout-align="start start" class="form-group form-group-input">
		    <label flex="15">库存</label>
		    <div flex="50" layout="column">
			    <label> {/ctrl.item.stock/}</label>
		    </div>
	        </div>
	        <div layout="row" layout-align="start start" class="form-group form-group-input">
		    <label flex="15">产地</label>
		    <div flex="50" layout="column">
			    <label> {/ctrl.item.origin/}</label>
		    </div>
	        </div>
		<div class="mask" close-Pic>  
    		<div class="mask-box"></div>  
    		     <div class="big-pic-wrap">  
                         <img src="" alt="" class="bigPic" />  
    		     </div>  
                </div>  
	    </div>

	    </md-content>-->
		
	     <md-content>
	    <md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="基本信息">
		<md-table-container layout="column">
	        <span>ID: {/ctrl.node.node.id/}</span>	
	        <span>status: {/ctrl.node.node.status/}</span>	
		<span>version: {/ctrl.node.node.version/}</span>	
		</md-table-container>
		</md-tab>
		<md-tab label="资源" dm-tab-sref="user.password"></md-tab>
		<md-tab label="负载" dm-tab-sref="user.groups"></md-tab>
		<md-tab label="流量统计">
		    <ul>
		        <li ng-repeat='(key, value) in ctrl.node.node.sysinfo.traffics' layout="column">
			    <span>{/key/}</span>
			    <span>接收:{/value.rx_bytes/}</span>
			    <span>发送:{/value.tx_bytes/}</span>
			    <span>接收速率:{/value.rx_rate/}</span>
			    <span>发送速率:{/value.tx_rate/}</span>
		        </li>
		    </ul>
		</md-tab>
		<!--<md-tab label="服务列表" ui-sref="node.services({node_id: ctrl.node_id})">-->
		<md-tab label="服务列表">
		<md-table-container>
			<div> 
        		<table md-table md-row-select multiple ng-model="ctrl.selected" md-progress="promise">
            			<thead md-head md-order=""
			      md-on-reorder="" fix-head>
            			<tr md-row>
                    			<th md-column><span>主机</span></th>
                    			<th md-column><span>端口</span></th>
                    			<th md-column><span>密码</span></th>
                    			<th md-column><span>加密方式</span></th>
                    			<th md-column><span>状态</span></th>
                    			<th md-column><span>创建时间</span></th>
            			</tr>
            			</thead>
            			<tbody md-body>
            				<tr md-row md-select="service"
						md-select-id="name" md-auto-select data-ng-repeat="service in ctrl.node.ss_services">
                				<td md-cell>
                               			    {/service.host/}
						</td>
                				<td md-cell>
						    {/service.port/}
                				</td>
                				<td md-cell>
						    {/service.password/}
                				</td>
                				<td md-cell>
						    {/service.encrypt/}
                				</td>
                				<td md-cell>
						    {/service.status/}
                				</td>
                				<td md-cell>
						    {/service.created_at | date : 'yyyy-MM-dd HH:mm:ss'/}
                				</td>
            				</tr>
            			</tbody>
        		</table>
			</div>
    		</md-table-container>
		</md-tab>
	    </md-tabs>
	     </md-content>
	    </div>
    </section>
</div>
