<div class="main-content app-layout"> 
    <section class="main-section">
	<div class="main-content">
		<section layout="row">
		    <md-button class="md-add" data-ui-sref="item.create"><span>添加</span></md-button>
		    <md-button class="md-second" data-ng-click="ctrl.enableItem()">上架</md-button>
		    <md-button class="md-second" data-ng-click="ctrl.disableItem()">下架</md-button>
		    <md-button class="md-delete right" data-ng-click="ctrl.deleteItem()">删除</md-button>
		</section>
	    <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <form flex name="searchForm">
                        <input type="text" 
			       ng-model="ctrl.query.filter" 
			       placeholder="输入商品名称搜索"
			       ng-change="ctrl.search()"> 
			</input>
                    </form>
                </div>
            </md-toolbar>
	    <md-content>
		    <md-table-container> 
			<div> 
        		<table md-table md-row-select multiple ng-model="ctrl.selected" md-progress="promise">
            			<thead md-head md-order=""
			      md-on-reorder="" fix-head>
            			<tr md-row>
                    			<th md-column><span>名称</span></th>
                    			<th md-column><span>价格(元)</span></th>
                    			<th md-column><span>产地</span></th>
                    			<th md-column><span>销量</span></th>
                    			<th md-column><span>库存</span></th>
                    			<th md-column><span>状态</span></th>
					<th md-column><span>编辑</span></th>
            			</tr>
            			</thead>
            			<tbody md-body>
            				<tr md-row md-select="item" md-select-id="name" md-auto-select data-ng-repeat="item in ctrl.items">
                				<td md-cell>
							<a href="#"
                               				data-ui-sref="item.detail({item_id: item.id})">{/item.name/}
							</a>
						</td>
                				<td md-cell>
							{/item.price/}
                				</td>
                				<td md-cell>
							{/item.origin/}
                				</td>
                				<td md-cell>
							{/item.sales/}
                				</td>
                				<td md-cell>
							{/item.stock/}
                				</td>
                				<td md-cell>
							<span class="label {/item.status/}">{/ctrl.stateMap[item.status]/}</span>
                				</td>
						<td md-cell width="100px">
						    <md-button class="edit-button md-button md-icon-button"
		     					    aria-label="edit"
							    data-ui-sref="item.update({item_id: item.id})">
							    <i class="fa fa-pencil" aria-hidden="true"></i>
						    </md-button>
						</td>
						</td>
            				</tr>
            			</tbody>
        		</table>
			</div>
    		</md-table-container>
		<div class="bottom">
                    <div class="left" layout="row">
		       <span>总商品数: {/ctrl.total/}</span>
		    </div>
                    <div class="right">
		        <md-button class="pagination left"
		        	   data-ng-disabled="ctrl.query.page==0"
		        	   data-ng-click="ctrl.previous()">
                                   <span>上一页</span>
                        </md-button>
		        <md-button class="pagination"
		        	   data-ng-disabled="ctrl.items.length < ctrl.query.limit"
		        	   data-ng-click="ctrl.next()">
                                   <span>下一页</span>
                        </md-button>
                    </div>
		</div>
        </md-content>
	</div>
    </section>
</div>
