<div class="main-container">
    <section class="main-section">
        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="start start" class="form-group form-group-input">
                    <label flex="15">名称</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input" name="name"
                                   aria-label="name"
                                   data-ng-model="ctrl.form.name"
                                   data-required="required"
                                   data-ng-pattern="/^\S*$/"
				   data-ng-trim="true">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.name.$error.required && !staticForm.name.$pristine">
                            <small>小区名称不能为空</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>
		
                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">城市</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="city" aria-label="city"
					       data-ng-model="ctrl.form.city">
                        </div>
                    </div>
                    <p class="error-info help-info-bottom"
                          data-ng-show="staticForm.name.$error.required && !staticForm.name.$pristine">
                          <small>城市不能为空</small>
                    </p>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">区域</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="district" aria-label="district"
                                   data-ng-model="ctrl.form.district"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.origin.$error.required && !staticForm.origin.$pristine">
                            <small>区域不能为空</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>

		<div layout="row" layout-align="end center" class="form-group form-group-input">
                    <label flex="15">详细地址</label>
                    <div flex="50" layout="column">
                        <div flex>
                            <input type="text" class="form-input"
                                   name="address" aria-label="address"
                                   data-ng-model="ctrl.form.address"
                                   data-required="required">
                        </div>
                        <p class="error-info help-info-bottom"
                           data-ng-show="staticForm.origin.$error.required && !staticForm.origin.$pristine">
                            <small>详细地址不能为空</small>
                        </p>
                    </div>
                    <div flex></div>
                </div>


                <div layout="row" class="form-footer-button" style="padding-top: 100px;">
                    <div flex-offset="8">
                        <md-button class="md-raised md-primary" data-ng-click="ctrl.updateCommunity()"
                                   data-ng-disabled="staticForm.$invalid" aria-label="update"
                                   >更新
                        </md-button>
                        <md-button class="md-primary" data-ng-click="ctrl.goBack()">取 消</md-button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
