<div class="main-container">
    <section class="main-section">
        <div class="main-content">
            <form name="staticForm">
		<label style="margin-bottom: 20px"> 云服务商</label>
	        <div layout="row" layout-align="end center">
	            <div layout="column" ng-repeat="p in ctrl.providers" class="provider">
	            	<img src="{/ p.img /}" style="width:100px; height:100px;margin-right:20px">
	            	<div class="overlay">
	            	    <a href="#" class="icon" title="User Profile">
	            	    <i ng-show="ctrl.selected == p.value" class="fa fa-check-circle"></i> 
	            	    </a>
	            	 </div>
	            	 <div class="mark" ng-click="ctrl.select(p.value)" ng-hide="ctrl.selected == p.value"></div>
	            </div>
                    <div flex></div>
	        </div>
		<label style="margin-bottom: 10px; margin-top:40px"> 区域</label>
	        <div layout="row" style="margin-top: 10px" layout-wrap>
		    <div ng-repeat="l in ctrl.regions">
			<div style="width:150px; height:40px;background:#fff;margin-right:5px; margin-bottom: 5px;">
				<span class="location">{/l.location/}<span>
			</div>
		    </div>
		</div>
		<label style="margin-bottom: 10px; margin-top:40px"> 机器规格</label>
	        <div layout="row" style="margin-top: 10px" layout-wrap>
		    <div ng-repeat="t in ctrl.types">
			<div style="width:120px; height:80px;background:#fff;margin-right:5px; margin-bottom: 5px;">
				<span class="size">cpu: {/t.cpu/}</span>
				<span class="size">mem: {/t.memory/}</span>
				<span class="size">disk: {/t.disk/}</span>
			</div>
		    </div>
		    <div flex></div>
	        </div>
	    </form>
	</div>
    </section>
    <div layout="row" right layout-align="end center">
                    <div right>
                        <md-button class="md-raised md-primary" data-ng-click="createItemCtrl.createItem()"
                                   data-ng-disabled="staticForm.$invalid" aria-label="create"
                                   >添 加
                        </md-button>
                        <md-button class="md-raised md-warn" data-ng-click="createItemCtrl.goBack()">取 消</md-button>
                    </div>
                </div>

</div>
