<!--<md-dialog>-->
<div class="main-container" flex="100" layout="row"> 
    <section class="main-section">
        <div class="main-content" style="background:#fff">
		    <label style="margin-bottom: 10px; margin-top:40px"> 机器规格</label>
		    <md-select ng-model="ctrl.form.instance_type" style="min-width: 200px;">
			    <md-option ng-repeat="type in ctrl.types" ng-value="type.id">{/type.id/}
                        </md-option>
                    </md-select>
	</div>
    </section>
</div>
<!--</md-dialog>-->
